{% extends "base.html.twig" %}

{% block body %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  {% for designer in designers %}
  <tbody>
    <tr>
      <th scope="row">{{ designer.id }}</th>
      <td>{{ designer.name }}</td>
      <td>{{ designer.country }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
		

{% endblock %}