{% extends "base.html.twig" %}

{% block body %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  {% for editor in editors %}
  <tbody>
    <tr>
      <th scope="row">{{ editor.id }}</th>
      <td>{{ editor.name }}</td>
      <td>{{ editor.country }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
		

{% endblock %}