{% extends "base.html.twig" %}

{% block body %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  {% for licence in licences %}
  <tbody>
    <tr>
      <th scope="row">{{ licence.id }}</th>
      <td>{{ licence.name }}</td>
      <td>{{ licence.description }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
		

{% endblock %}